<% content_for :page_title, @article.title %>
<% content_for :page_description, @article.lead_content %>

<div class="container article-container">
  <div class="row">
    <div class="col-md-9">
      <%= render "shared/article", article: @article %>

      <hr />

      <div class="row">
        <div class="col-md-6">
          <% if @article.prev_article.present? %>
            <%= link_to "前の記事へ", article_path(@article.prev_article), class: "btn btn-primary full-width mb-10" %>
          <% end %>
        </div>
        <div class="col-md-6 text-right">
          <% if @article.next_article.present? %>
            <%= link_to "次の記事へ", article_path(@article.next_article), class: "btn btn-primary full-width mb-10" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-3 hidden-sm mt-20">
      <%= render "shared/sidebar",
                 page_categories: @page_categories,
                 page_new_articles: @page_new_articles,
                 page_tags: @page_tags,
                 next_article: @article.next_article,
                 prev_article: @article.prev_article,
                 related_articles: @article.related_articles(limit: 5),
                 toc: devcast_markdown_content_toc(@article.lead_html, @article.content_html) %>
    </div>
  </div>
</div>
