<div class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <%= link_to "DevCast", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "記事一覧", articles_path, class: "nav-link" %>
        </li>
        <% @page_header_categories.each do |header_category| %>
          <li class="nav-item">
            <%= link_to header_category.name, category_path(header_category.category_id), class: "nav-link" %>
          </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "RSS", feed_path, class: "nav-link", target: "_blank", rel: "noopener" %>
        </li>
      </ul>
    </div>
  </div>
</div>
