<% content_for :page_title, "カテゴリ: #{@category.name}" %>

<div class="container article-container">
  <div class="row">
    <div class="col-md-9">
      <div class="article-container">
        <h1>カテゴリ: <%= @category.name %></h1>

        <div class="article-container__article-listing">
          <%= render "shared/articles_with_lead", articles: @articles %>
        </div>

        <%= paginate @articles %>
      </div>
    </div>

    <div class="col-md-3 hidden-sm mt-20">
      <%= render "shared/sidebar",
                 page_categories: @page_categories,
                 page_new_articles: @page_new_articles,
                 page_tags: @page_tags %>
    </div>
  </div>
</div>
